:root {
  --size: 300px;
  --arm-width: 16px;
  --main-colour: rgba(255, 255, 255, 0.7);
  /* --main-colour: rgba(0, 226, 215, 0.7); */
  --bg-colour: #333;
  --total-steps: 60;
  --duration-seconds: 60s;
  --duration-minutes: 3600s;
  --duration-hours: 43200s;
  --delay-seconds: 0;
  --delay-minutes: 0;
  --delay-hours: 0;
}

body {
  box-sizing: border-box;
  margin: 20px;
  background-color: var(--bg-colour);
  /* background-color: #fff; */
}

.arm {
  width: var(--arm-width);
  position: absolute;
  left: calc(var(--size)/2 - var(--arm-width)/2);
  background-color: var(--main-colour);
  border: 0;
  transform-origin: calc(100% - var(--arm-width)/2) 100%;
  box-shadow: 2px 2px 15px 5px #00000033;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.arm.seconds {
  height: calc(var(--size) / 2); /* 150px */
  top: 0; /* 0px */
  animation-duration: var(--duration-seconds);
  animation-delay: var(--delay-seconds);
  animation-timing-function: steps(var(--total-steps), end);
  opacity: 0;
  background-image: linear-gradient(var(--main-colour) 0%, var(--bg-colour) 90%);
}

.arm.minutes {
  height: calc(var(--size) / 3); /* 100px */
  top: calc(var(--size) / 6); /* 50px */
  animation-duration: var(--duration-minutes);
  animation-delay: var(--delay-minutes);
  animation-timing-function: steps(var(--total-steps), end);
  opacity: 0;
  background-image: linear-gradient(var(--main-colour) 20%, var(--bg-colour) 80%);
}

.arm.hours {
  height: calc(var(--size) / 4); /* 75px */
  top: calc(var(--size) / 4); /* 75px */
  animation-duration: var(--duration-hours);
  animation-delay: var(--delay-hours);
  animation-timing-function: linear;
  opacity: 0;
  background-image: linear-gradient(var(--main-colour) 10%, var(--bg-colour) 80%);
}

.clock-centre {
  opacity: 1;
  height: calc(var(--arm-width)*2);
  width: calc(var(--arm-width)*2);
  top: calc(var(--size)/2 - var(--arm-width));
  left: calc(var(--size)/2 - var(--arm-width));
  position: absolute;
  border-radius: 50%;
  background-color: var(--main-colour);
}

arm.rounded-end {
  border-top-right-radius: calc(var(--arm-width)/2);
  border-top-left-radius: calc(var(--arm-width)/2);
}

.container {
  width: fit-content;
  margin: 30px auto;
  padding: 30px;
  max-width: var(--size);
}

.header {
  text-align: center;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0 0 40px 0;
  text-shadow: 0 2px 5px #000;
}

.outline {
  width: var(--size);
  height: var(--size);
  position: relative;
}

.outline.border {
  border: 10px solid var(--main-colour);
  border-radius: 50%;
}

svg.segments {
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 0;
  left: 0;
  /* filter: blur(2px); */
}

svg.segments > circle {
  --gap: var(--arm-width);
  --pi: 3.14159;
  --segment: calc((2 * var(--pi) * var(--size)/2)/12); /* see 3 in notes.md */
  stroke: var(--main-colour);
  fill: none; 
  stroke-opacity: 1; 
  stroke-width: calc(var(--arm-width));
  stroke-dasharray: calc(var(--segment) - var(--gap)) var(--gap); 
  stroke-dashoffset: calc(var(--gap)/2 * -1);
  stroke-linecap: butt;
}

@keyframes move {
  to { 
    transform: rotate(360deg); 
  }
}